<div class="page-header">
  <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-image: url('./assets/img/sections/uriel-soberanes.jpg')">

  </div>
    <div class="filter"></div>
    <div class="content-center">
        <div class="container">
            <div class="motto">
                <h1 class="title">Brace yourself</h1>
                <h3 class="description">Future focused condos coming soon</h3>
                <br />
                <a href="https://youtu.be/snmyDvwCPkE" class="btn btn-neutral btn-round" target="_blank"><i class="fa fa-play"></i>Watch video</a>
            </div>
        </div>
    </div>

</div>

<div class="wrapper">
    <div class="section text-center landing-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <h2 class="title" style="margin-top: -3%;">Let's talk</h2>
                    <h5>At Union Village we are dedicated to delivering a future driven living experience. We do this by keeping the concept of integration at our core and building out from there. With healthcare, residential, retail, entertainment, and technology all integrated into a 178 acre, beautifully master planned village, we are able to offer you an experience that you cannot find anywhere else.</h5>
                    <br />
                    <!-- <a class="btn btn-danger btn-fill btn-round">See Details</a> -->
                </div>
            </div>
            <br /><br />
            <div class="row">
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-palette"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Modern Design</h4>
                            <p class="description">Keeping a unique, modern design is at the forefront of all facilites within Union Village.</p>
                            <!-- <a href="#pkp" class="btn btn-link btn-danger">See more</a> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-bulb-63"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Smart Technology</h4>
                            <p class="description">Each of our condos featues cutting edge technology to make your life safer and more efficient.</p>
                            <!-- <a href="#pkp" class="btn btn-link btn-danger">See more</a> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-chart-bar-32"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Master Planning</h4>
                            <p>Perfectly planned to seamlessly integrate healthcare, residential, retail, and entertainment.</p>
                            <!-- <a href="#pkp" class="btn btn-link btn-danger">See more</a> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-sun-fog-29"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Beautiful Scenery</h4>
                            <p>Union Village is located just south of Las Vegas and features Nevada's beautiful sunsets</p>
                            <!-- <a href="#pkp" class="btn btn-link btn-danger">See more</a> -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="section section-dark text-center landing-section">
        <div class="container">
            <h2 class="title">About us</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar"><img src="./assets/img/ghProfile.png" alt="..."></a>
                        </div>
                        <div class="card-body">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title">Gary Holland</h4>
                                    <h6 class="card-category text-muted">Partner</h6>
                                </div>
                            </a>
                            <!-- <p class="card-description text-center">
                            Teamwork is so important that it is virtually impossible for you to reach the heights of your capabilities or make the money that you want without becoming very good at it.
                            </p> -->
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar"><img src="./assets/img/cjProfile.png" alt="..."></a>
                        </div>
                        <div class="card-body">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title">Craig Johnson</h4>
                                    <h6 class="card-category text-muted">Partner</h6>
                                </div>
                            </a>
                            <!-- <p class="card-description text-center">
                            A group becomes a team when each member is sure enough of himself and his contribution to praise the skill of the others. No one can whistle a symphony. It takes an orchestra to play it.
                            </p> -->
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar"><img src="./assets/img/dbProfile.png" alt="..."></a>
                        </div>
                        <div class="card-body">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title">David Baker</h4>
                                    <h6 class="card-category text-muted">Partner</h6>
                                </div>
                            </a>
                            <!-- <p class="card-description text-center">
                            The strength of the team is each individual member. The strength of each member is the team. If you can laugh together, you can work together, silence isn’t golden, it’s deadly.
                            </p> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <h5 style="color: #fff;">In January, 2010, the co-founders sat on a couch at David Baker’s home and talked about a hospital and integrated community supported by the Unions in Las Vegas. By August, 2010, Union Village LLC was formed and was circulating its first offering to raise capital. Fast-forward four years to October, 2014 when Henderson Hospital broke ground, and Union Village had signed LOI's for a senior living facility, apartments, a wellness clinic, and retail development. Today, Union Village stands tall as the largest integrated health village in the world and is supported by a fantastic team led by the three partners above.</h5>
                    <br />
                    <!-- <a class="btn btn-danger btn-fill btn-round">See Details</a> -->
                </div>
            </div>
        </div>
    </div>

    <div class="section landing-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <h2 class="text-center">Keep in touch?</h2>
                    <form class="contact-form" action="https://formspree.io/info@unionvillage.net" method="POST" >
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name</label>
                                <input class="form-control" name="name" placeholder="Name">
                            </div>
                            <div class="col-md-6">
                                <label>Email</label>
                                <input class="form-control" placeholder="Email" name="_replyto">
                            </div>
                        </div>
                        <label>Message</label>
                        <textarea class="form-control" rows="4" name="message" placeholder="Tell us your thoughts and feelings..."></textarea>
                        <div class="row">
                            <div class="col-md-4 offset-md-4">
                                <input class="btn btn-danger btn-lg btn-fill" type="submit" value="Send Message">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer section-dark">
    <div class="container">
        <div class="row">
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{data | date: 'yyyy'}}, Union Village LLC</span>
            </div>
        </div>
    </div>
</footer>
